<div class="admin-tile well">
  <div class="row">
    <div class="col-md-12">
      <p class="admin-title">{{#link-to 'project' project.id}}{{project.name}}{{/link-to}}</p>
      <i {{action 'update' project}} class="edit large icon"></i>
      <i {{action 'delete' project}} class="trash icon large" ></i>
    </div>
    <br>
    <div class="col-md-6 col-md-inset-1">
      <div class="row">
        <p >By: {{project.owner}}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="row">
        <p>Funding goal: ${{project.goal_amount}} </p>
        <p>Closes {{moment-from-now project.goal_date interval=1000}}</p>
        <p>${{project.current_amount}}.00 contributed</p>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="hidden-form">
        {{update-project project=project update="update"}}
      </div>
    </div>
  </div>
</div>
